*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: #d6e2f0;
}

img{
    height: 130px;
    width: 130px;
    
}

.main_container{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    margin: 50px;
    border-radius: 15px;
    width: 450px;
    height: 300px;
    justify-content: space-around;
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    height: 270px;
    width: 200px;
    gap: 15px;
    padding: 15px;
}

h2{
    text-align: center;
    font-size: 25px;
    
}

p{
    text-align:center;
    color: #8c8c8c;
    font-size: 17px;    
}

.qr_container{
    background-color: #f2d7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    height: 270px;
    width: 200px;
    border-radius: 10px;
}
